
<h1 class="mb-3">HTML table presentation</h1>
<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
            <tr class="table-light text-center">
                <th scope="col">Country</th>
                <th scope="col">Area</th>
                <th scope="col">Population</th>
                <th scope="col">Capital</th>
            </tr>
        </thead>
        <tbody id="countriesTable" class="border-top-0 text-nowrap" *ngIf="countries">
            <tr *ngFor="let country of countries">
                <th scope="row">{{ country.name.official }}</th>
                <td class="text-end">{{ country.area }}</td>
                <td class="text-end">{{ country.population }}</td>
                <td><a href="">{{ country.capital }}</a></td>
            </tr>
        </tbody>
        <caption class="text-secondary border-top-0">List of european region countries</caption>
    </table>
</div>